body{
    padding: 0;
    margin: 0;
    background-image: url(Abstract\ Patterns\ -\ Download\ Seamless\ Abstract\ Patterns\ for\ Free\ -\ Creative\ Fabrica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}
.link-container{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin: 20px 0;
   
   /* background-color: #e7b2ff;
    padding-top:20px ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-size: 35px;*/
    /*text-shadow: 0px 0px 10px #fcc0ff;
    text-shadow: 0px 0px 10px #fcc0ff;
    text-shadow: 0px 0px 10px #fcc0ff;
    display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px 0;
    color:aliceblue ;
    text-decoration: none;
    font-weight: 600;
 padding-left: 80%;*/
}
.link {
    padding: 10px 20px;
    font-size:2em;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
   font-family: 'Courier New', Courier, monospace;
    color:aliceblue ;
    text-shadow: 2px 2px 5px #fab4ff;
   
  }
/*.logo{
    font-size: 35px;
    text-shadow: 0px 0px 10px #fcc0ff;
    text-shadow: 0px 0px 10px #fcc0ff;
    text-shadow: 0px 0px 10px #fcc0ff;
   
    color:aliceblue ;
    text-decoration: none;
    font-weight: 600;
 padding-left: 80%;

   
}
.logo :hover{
    color: blue;
}*/
/*.contact h1{
    color: white;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px #fab4ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    cursor: pointer;
}*/
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
   
}
#name{
    background-color: rgba(255, 208, 236, 0.422);
    border: dashed thick white;
    color: rgb(85, 16, 57);
    backdrop-filter: blur(2px);
}
#email{
    background-color: rgba(255, 208, 236, 0.422);
    border: dashed thick white;
    color: rgb(85, 16, 57);
    backdrop-filter: blur(2px);
}
#number{
    background-color: rgba(255, 208, 263, 0.422);
    border: dashed thick white;
    color: rgb(85, 16, 57);
    backdrop-filter: blur(2px);
}
#message{
    background-color: rgba(246, 168, 215, 0.718);
    border: dashed thick white;
    color: rgb(76, 4, 74);
    width: 80%;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.contact form .input-box input,
.contact form textarea{

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    margin: 1rem;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    border: rgb(255, 89, 255) 3px solid;
    box-shadow: #ffb3d9 0px 0px 10px;
    box-shadow: #ffb7db 0px 0px 20px;
    box-shadow: #ffadd6 0px 0px 50px;
}
.contact form .btn:hover{
    background-color: #ee3692;
    color: white;
}
